# HDF5 and raster files
*.mat
*.asc

# R and python objects

*.Rout
*.Rdata
*.Rhistory
*.pyc

# logs
*.log
*.err
*.out

#Manage outputs
out_files/*

# Memory aid
mem_colosse.md
bash_exemple_colosse.sh
